body {
    background: #AFC7E0;
  }
  
.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.room {
    display: block;
    margin-left: 50px;

}

.video-container {
  padding: 20px;
  margin-top: 30px;
}
  .video-container .video {
    border-radius: 10px;
  }

button.muteVideo {
  background: #e8e8e8;
}
button.muteVideo:active{
  background: #e8e8e8;
  background-image:url(cameraoff.png);
}
/*button.muteAudio {
  background: #e8e8e8;
}
button.muteVideo:active{
  background: #e8e8e8;
  background-image:url(micoff.png);
  background-repeat: no-repeat;
}*/

.form {
    border-radius: 7px;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #DDD5D5;
    padding: 20px;
    margin-top: 30px;
  }
  
  .form .form__custom-button {
    margin-top: 10px;
    border-radius: 7px;
    font-weight: bold;
    width: 100%;
    background-color: #D1EAF7;
    box-shadow: 2px 2px rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    color: black;
  }
  
  .form__custom-button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 5px 10px -6px gray;
  }