body {
    background: #AFC7E0;
  }

.top-down{
    display: flex;
    flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.room {
  width: 330px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}

.video-container {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

.video-user{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}


button.muteVideo {
  background: #e8e8e8;
  border-radius:20px;
  height: 45px;
  margin-right: 10px;
}
button.muteAudio {
  background: #e8e8e8;
  border-radius:20px;
  height: 45px;
  margin-left: 10px;
}
.logo-main{
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.logo-calling{
  max-width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.form {
    border-radius: 7px;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #DDD5D5;
    padding: 20px;
    height: 260px;
  }
  
.form .custom-button {
    margin-top: 10px;
    border-radius: 7px;
    font-weight: bold;
    width: 100%;
    background-color: #D1EAF7;
    box-shadow: 2px 2px rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    color: black;
  }
  
.form .custom-button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 5px 10px -6px gray;
  }

  .top-down .down-button{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .down-button .leave-button{
    background-color: #E83B3B;
    max-width: 200px;
    color: white;
    font-size: 24px;
    border-radius: 7px;
    font-weight: bold;
    
  }

  .top-down .leave-button:hover{
    background-color: #be2121;
    color: white;
    box-shadow: 0 5px 10px -6px gray;
  }
  
  .room-header{
    display: flex; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.521);
    margin-bottom: 20px;
    border-radius: 7px;
  }
  
  .room-header .room-id{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  } 

#stream{
  margin: auto;
  border-radius: 7px;
}
#myname-tag{
  width: 100%;
  background-color: #E8DCB9;
  color: black;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 5px;
  height: 30px;
}

#myname-tag .name-tag{
  font-size: 20px;
  font-weight: bold;
}

#othername-tag{
  width: 100%;
  background-color: #C3DBC5;
  color: black;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 5px;
  height: 30px;
}

#othername-tag .name-tag{
  font-size: 20px;
  font-weight: bold;
}

.incoming-call{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  padding: 7px;
  width: 720px;
  text-align: center;
}

#calling-text{
  font-size: 20px;
  margin-left: auto;
}

#accept{
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 5px;
}

#decline{
  border-radius: 50px;
  margin-right: auto;
}