body {
    background: #AFC7E0;
  }

.top-down{
    display: flex;
    flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  
}

.room {
  width: 330px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}
.video-container {
  padding: 20px;
  margin-top: 30px;
}
.video {
  border-radius: 10px;
}

button.muteVideo {
  background: #e8e8e8;
  border-radius:20px;
}
button.muteAudio {
  background: #e8e8e8;
  border-radius:20px;
}
.logo-main{
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.logo-calling{
  max-width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.form {
    border-radius: 7px;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #DDD5D5;
    padding: 20px;
  }
  
.form .custom-button {
    margin-top: 10px;
    border-radius: 7px;
    font-weight: bold;
    width: 100%;
    background-color: #D1EAF7;
    box-shadow: 2px 2px rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    color: black;
  }
  
.form .custom-button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 5px 10px -6px gray;
  }
  .top-down .leave-button{
    background-color: #E83B3B;
    max-width: 200px;
    color: white;
    font-size: 24px;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .top-down .leave-button:hover{
    background-color: #be2121;
    color: white;
    box-shadow: 0 5px 10px -6px gray;
  }
  
  .room-header{
    display: flex; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .room-header .room-id{
    font-size: 24px;
    font-weight: bold;
  } 